*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    background-color: burlywood;
    color: green;
    padding: 10px 0;
   padding: 1rem;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: blue;
    text-decoration: orangered;
}

footer {
    background-color: #333;
    color: aqua;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 1 solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}
form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    
}
form button:hover {
    background-color: #ff00ff;
}


